[project]
	description = Devstack install based on Ansible
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Eric Brown (ericwb)
[access "refs/for/refs/*"]
	read = group user/Eric Brown (ericwb)
	push = group user/Eric Brown (ericwb)
	label-Code-Review = -2..+2 group user/Eric Brown (ericwb)
	label-Verified = -1..+1 group user/Eric Brown (ericwb)
	rebase = group user/Eric Brown (ericwb)
	removeReviewer = group user/Eric Brown (ericwb)
	submit = group user/Eric Brown (ericwb)
[access "refs/heads/*"]
	read = group user/Eric Brown (ericwb)
	create = group user/Eric Brown (ericwb)
	push = +force group user/Eric Brown (ericwb)
	pushMerge = group user/Eric Brown (ericwb)
[access "refs/tags/*"]
	push = +force group user/Eric Brown (ericwb)
	pushTag = group user/Eric Brown (ericwb)
	pushSignedTag = group user/Eric Brown (ericwb)
